.nav {
  height: 70px;
  border-radius: 15px;
  background-color: rgb(214, 233, 226);
  margin-bottom: 100px;
}

.qty {
  position: relative;
  margin-left: 1120px;
  margin-top: -65px;
}
.symbol {
  width: 100px;
  margin-left: 100px;
  margin-top: 5px;
}
