.price {
  justify-content: space-evenly;
  display: flex;
}
.price h5 {
  text-decoration: line-through;
}

.home-container {
  display: grid;
 background-color: antiquewhite;
  grid-template-columns: repeat(3, 1fr);
}
.container {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container h4{
    font-size: 12px;
    text-align: center;
}
.container img {
  margin-left: 100px;
  justify-content: center;
  align-items: center;
}
.button{
margin-left: 140px;
  background-color: aqua;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
}